@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

body{
    
    background: #2de9dd;
}


.caixa-01{
    
   
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-02{
    
 
    height:45vh ;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixa-03{
    
  
    height:30vh;
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto-principal{
    
    color: #138c85;
    font-size: 50px;
}

.caixa-dos-input{
    
    background: #18ada4;
    height: 41vh;
    width: 95%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input-do-usuario{
    
    background: transparent;
    height: 55px;
    width: 86%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: solid 4px #00ffef;
    text-align: center;
    color: white;
    
    
}
.input-do-usuario::placeholder{
    font-weight: 700;
    font-size: 20px;
    color: #00ffef;
}

.input-do-usuario:focus{
    
    outline: none;
}


.botao-01{
    
    height: 55px;
    width: 80%;
    border-radius: 20px;
    background: #00ffef;
    color:#138c85 ;
    border: none;
    box-shadow: 0px 0px 10px #0000002f;
    font-size: 20px;
    font-weight: 700;
}