*{
    margin: 0;
    padding: 0;
}

body{
    position: fixed;
    background: #8C0000;
    


}

.bloco-01{
    
    /*background: red;*/
    height: 100px;
    width: 395px;
    display: flex;
    align-items: end;
    justify-content: center;
}

.bloco-02{
    
    /*background: blue;*/
    height: 400px;
    width: 395px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.bloco-03{
    
    /*background: deeppink;*/
    height: 215px;
    width: 395px;
    display: flex;
    align-items: start;
    justify-content: center;
   
    
    
}

.input-01{
    
   background: ;
    height: 30px;
    width: 290px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    
    
   
    
}

.bloco-filha{
    
    /*background: white;*/
    height: 40px;
    width: 105px;
    color: #200F0F;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    
}

.logar{
    
    color:#FFFFFF;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 40px;
}